{% extends "layout.html" %}

{% block page_content %}
<!-- Guidance top -->
<div class="row">
	<div class="col-xl-2 col-md-1 col-sm-1 py-3"></div>
	
	<div class="col-xl-6 col-md-8 col-sm-10 py-3">
	<p><span class="larger" style="font-weight:900;">Guidance:</span><br /><br />
	This service enables you to send an email message to multiple email accounts. <br /><br />
	
	Only send messages to people who have signed up to receive notifications from the FSA. If you have any queries check with the GDPR team.<br /><br />
	
	To send a message:
	<ul>
	<li>Upload a list of email addresses. The file must be in csv format. All email addresses should be entered in the first column only. Do not add a header row. </li>
	<li>Enter the ‘Subject’ and ‘Message’ and click ‘Send’. It will be sent immediately.</li>
	</ul>
	<br />
	Delivery statistics, showing messages sent in the last 7 days, are available on the <a href="/dash">dashboard</a>.<br /><br />
	The list of email addresses is removed from the app automatically. It will be on the server for a maximum of 2 hours.</p>
	
	<br /><br />
	
	<p><a href="/"><button style="border-radius:25px; padding:15px; background-color:#006F51; color:#fff;">Compose your message</button></a></p>
	
	<br /><hr /><br />
	
	</div>
	
	<div class="col-xl-4 col-md-3 col-sm-1 py-3"></div>
</div>



{% endblock %}