{% extends "layout.html" %}

{% block page_content %}

<div class="row">
	<div class="col-xl-2 col-md-1 col-sm-1 py-3"></div>
	
	<div class="col-xl-6 col-md-8 col-sm-10 py-3">
	{% if message == 'y' %}
	<p class="larger info_box">Thank you, your emails have been sent.</p><br />
	{% endif %}
	
	<form action="/subs-send" method="POST" enctype='multipart/form-data'>
	
	<p class="larger">1. Upload your subscribers list<br /></p>
	<p><span style="font-size:0.9em;">The file must be in csv format. All email addresses should be entered in the first column only. Do not add a header row.</span></p>
	<br />
	<input type="file" name="list" accept="csv" />
	<br /><br /><br /><br />
	
	<p class="larger">2. Compose your message</p>
	<br />
	Subject:<br />
	<input type="text" name="subject" class="input_field" /><br /><br />
	
	Message:<br />
	<textarea name = "message" rows="10" class="input_field"></textarea>
	<br /><br />
	
	<!-- Button trigger modal -->
<a data-toggle="modal" data-target="#exampleModal" style="font-weight:400; text-decoration:underline; cursor: pointer;">
  Message formatting guidance
</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Message formatting</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<p>
	<span style="font-weight:900;">Headings</span><br />
	The form supports basic markdown to add text formatting.<br /><br />
	To add a title, use a hash:<br /><br />
	# This is a title<br /><br /><br />
		
	<span style="font-weight:900;">Paragraphs</span><br />
	Separate paragraphs by three dashes:<br /><br />
	First paragraph<br />
	---<br />
	Second paragraph<br />	
	</p>
      </div>
    </div>
  </div>
</div>
	
	<br /><br />
	
	<input type="submit" value="Send" class="submit_btn" />
	
	</form>
	
	</div>
	<div class="col-xl-4 col-md-3 col-sm-1 py-3"></div>

</div>

	<br /><hr /><br />



{% endblock %}


